<div class="modal">

    <!-- Modal header bar -->
    <div class="bar bar-header item-input-inset">
        <!--<i ng-click="closeSearch()"><i class="icon ion-ios-close-outline" ></i>&nbsp;&nbsp; &nbsp;&nbsp;</i>-->
        <button ng-click="closeLocation()" style="height: 5px;" class="button button-clear button-dark icon ion-ios-close-outline"></button>
        <!--搜索框-->

        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="输入地名" ng-model="search.content">
        </label>
        <form ng-submit="doLocation(search)">
            <button type="submit" class="button button-clear">
                搜索
            </button>
        </form>
    </div>

    <!-- Modal content area -->
    <ion-content>
        {{locationinfo}}
    </ion-content>

</div>